.ellips{
    background-image: url('https://i.ibb.co/54Tp38z/Ellipse-18.png');
    
}
.full-circle {
    border: 10px solid yellow;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-left: 100px;
    border-color: rgb(236, 232, 3);
    padding: auto;
}
.hand{
   background-image: url("https://i.ibb.co/2P6mDpF/Vector-9.png"); 
   -webkit-transform:rotate(180deg);
   -moz-transform: rotate(180deg);
   -ms-transform: rotate(180deg);
   -o-transform: rotate(180deg);
   transform: rotate(180deg);
   margin-top: 0px;
   }
.text-div{
    margin-left: 120px;
    text-align: left;
    
}
.text-h6{
    font-weight: bold;
    font-size: larger;
}
.pera-text{
    font-weight: 550;
}
