.partner-container{
    background-image: url('https://i.ibb.co/HYzm7t7/johnathan-macedo-4-NQEvx-W2-4w-unsplash-1.png');
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.line {
    background: rgba(32, 32, 32, 0.71);
    /* background-color: lightgrey; */
  width: 400px;
  height: 500px;
  border: 5px solid rgb(221, 245, 6);
  padding: 50px;
  margin: 20px;
  border-left: none;
  
  }
  .line p{
      
      text-align: left;
      color: white;
      /* margin-right: 100px; */
      padding: 40px;
      margin: 30px;
      z-index: 1;
    
  }
  .button{
      margin-left: 150px;
      padding: 30px;
  }